@use "base/mixins" as m;
@use "base/variables" as v;

.navegacion {
  display: flex;
  flex-direction: column;

  @include m.desktop {
    flex-direction: row;
  }
  &__enlace {
    font-family: v.$fuente-principal;
    font-size: 2.2rem;
    color: #ffffff;
    padding: 4px 10px;
    margin: 0 1rem;
    text-align: center;
  }
  &__enlace:hover {
    color: #339dff;
    border-radius: 3rem;
    background: rgb(43, 43, 43);
    margin: 0 1rem;
    padding: 4px 10px;
    transition: 0.7s;
    -webkit-box-shadow: 0px 1px 20px 5px #007df4;
    -moz-box-shadow: 0px 1px 20px 5px #007df4;
    box-shadow: 0px 1px 20px 5px #007df4;
  }
  &__micuenta {
    text-align: center;
    font-family: v.$fuente-roboto;
    color: v.$negro;
    font-size: 2.3rem;
    border-radius: 3rem;
    background: #ffffff;
    margin: 0 1rem;
    padding: 4px 10px;
    font-weight: 500;
    transition: all 0.4s ease 0s;
  }
  &__micuenta:hover {
    font-family: v.$fuente-roboto;
    color: v.$negro;
    font-size: 2.3rem;
    border-radius: 3rem;
    background: #ffffff;
    margin: 0 1rem;
    padding: 4px 10px;
    transform: scale(1.1);
    font-weight: 500;
    -webkit-box-shadow: 0px 1px 15px 5px #007df4;
    -moz-box-shadow: 0px 1px 15px 5px #007df4;
    box-shadow: 0px 1px 15px 5px #007df4;
  }
}
